@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F0F0F;
  --main: #3B82F6;
  --secondary: #1F2937;
  --cta: #10B981;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    }
    } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Sora", "Inter", sans-serif;
}
